*{
  margin: 0;
  padding: 0;
}
.bg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator{
  border-radius: 5px;
  width: 330px;
  box-shadow: 2px 2px 10px 2px grey;
  overflow: hidden;
  height: 450px;
}
.display{
  width: 330px;
  background-color: black;
  font-size: 40px;
  height: 80px;
  color: white;
  text-align: right;
  padding-top: 10px;
  padding-right: 40px;
  border: none;
  word-wrap: break-word;
}
.display-small{
  font-size: 25px;
}
.display-very-small{
  font-size: 18px;
}
.display::selection{
  background-color:blueviolet;
}
.icon-container{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.icon{
  margin: 5px 10px;
  cursor: pointer;
}
.history{
  height: 100%;
}
.no-history{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: grey;
  font-size: 25px;
  font-weight: 500;
}
.history-list{
  max-height: 420px;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}
.entries{
  color: white;
  padding-top: 5px;
}